<a asp-action="Edit" asp-controller="Account">
    <button type="button" class="btn btn-success">Edit</button>
</a>

<a asp-action="Delete" asp-controller="Account">
    <button type="button" class="btn btn-success">Delete</button>
</a>